# Maven / Build
target/
build/

# IntelliJ
.idea/
*.iml

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env

# Node (caso use futuramente)
node_modules/

# Docker
*.pid
*.seed
*.pid.lock

# Java
*.class
*.jar
*.war

# Test
/coverage
